<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("image", ev.target.id);
    console.log('drag ' + ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("image");
    var elTo = document.getElementById(ev.target.id);
    var elFrom = document.getElementById(data);
    if (elTo.nodeName == 'DIV') {
      elTo.appendChild(elFrom);
    } else {
        elToDiv = elTo.parentElement;
        while (elToDiv.hasChildNodes()) {  
          elToDiv.removeChild(elToDiv.firstChild);
        }
        elToDiv.appendChild(elFrom);
    }
}
</script>

<div class="row no-gutters">
  <div class="col-4 justify-content-start"><h5>Desk <%= @desk.id %></h5></div>
  <div class="col-4 justify-content-end"><%= link_to "Back", root_path %></div>
</div>

<div class="row no-gutters">
<div class="col-md-9">
<div id="board">
<div id="gamefield">
  <% [8,7,6,5,4,3,2,1].each { |i|  %>
    <% %w(a b c d e f g h).each { |l| %>
      <% id_cage = "#{l}#{i}" %>
      <div id=<%= id_cage %> class="box" ondrop="drop(event)" ondragover="allowDrop(event)">
        <% @cage = @cages.find_by(board_id: id_cage) %>
        <% if @cage %>
          <%= image_tag @cage.img_name, draggable: true, ondragstart: "drag(event)", id: @cage.img_id, width: "90", height: "90" %> 
        <% end %>
      </div>
    <% } %>
  <% } %>
</div>  
</div> 
</div>

<div class="col-md-3">
  <div class="messages">
    <div class="messages-inner" id="messages" data-desk-id="<%= @desk.id %>">
      <%= render @desk.messages %>
  </div>
</div>

<%= render 'messages/form' %>

</div>

</div>

<p id="notice"><%= notice %></p>
