<!DOCTYPE html>
<html>
<head>
<title>JustGames</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <div class="row no-gutters justify-content-md-center">
    <div class="col-md-12">
      <div class="card text-center mt-1 mb-1 bg-light text-dark">
        <div class="card-body">
          Welcome to JustGames, your random nick is <b><%= current_user.nickname %></b>!
        </div>
      </div>

      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
